<html>
<head><center><font size=12><font color="darkblue"> Liver Patients Prediction</font></font></center></head>
<br><br><br>
<body bgcolor="pink">
	<tr>
		<td>Age:
			<br><br>
		<td>
		   <input type="text" name="AGE">
		   </td>
		   <td>gender:</td>
		   <td>
		   	<input type="number" placeholder="0 male, 1 female" name="Gender">
		   </td>
		</td>
	</tr>
	<br><br><br>
	<tr>
		<td> Total_billrubin:
			<br><br>

			<td>
				<input type="text" name="Total_billrubin">
			</td>
			<td>
				Direct_Billrubin:
			</td>
			<td>
				   <input type="text" name="Direct_Billrubin">
				</td>
			</td>
		</tr>
		<br><br><br>
		<tr>
			<td>
				Alkaline_Phosphotase
				<br><br>
				<td>
					<input type="text" name="Alamine_aminotranserase">
				</td>
			</td>
		</tr>
      <br><br><br>
      <td>
      	<input type="text" name="Aspartate_amoonotranferase">
      </td>
    <td>
    	  Total_Protiens:
    </td>
    <td>
    	<input type="text" name="Total_Protiens">
    </td>
</tr>
<br><br><br>
<tr>
	<td>
		Albumin:
		<br><br>
		<td>
			Albumin_and_Globulin_Ratio:
		</td>
		<td>
            <input type="text" name="Albumin_and_Globulin_Ratio">
        </td>
    </td>
</tr>
<br><br><br>
<a href="predict.html"><button type="button" class="mybutton">Predict</button></a>
</body>
</html>

































